@model MVCapp.Models.Pracownik

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>Pracownik id: </td>
        <td>@Model.PracownikID</td>
    </tr>
    <tr>
        <td>Imie </td>
        <td>@Model.Imie</td>
    </tr>
    <tr>
        <td>Nazwisko: </td>
        <td>@Model.Nazwisko</td>
    </tr>
    <tr>
        <td>Miasto: </td>
        <td>@Model.Miasto</td>

    </tr>

    <tr>
        <td>Ulica </td>
        <td>@Model.Ulica</td>
    </tr>
</table>