@model MVCapp.Models.Date
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.DisplayFor(a => a.DateTime)
@Html.DisplayFor(a => a.Bool)
@Html.DisplayFor(a => a.String)
@Html.DisplayFor(a => a.Decimal)
@Html.DisplayFor(a => a.Int)